{% extends "base.html" %}
{% load static %}
{% block title %}3Pointers{% endblock %}
{% block content %}

<!-- heading -->
<div class="d-flex justify-content-center align-items-center mt-5">
<h1>Add Friends</h1>
</div>

<!--Container-->
<div class="container mt-5">
<div class="row">
 
<div class="col-md-6">
<div class="p-3 border rounded" style="background-color: antiquewhite;">
<h4>My Friends</h4>
{% for friend in friends %}
<div class="d-flex align-items-center mb-3">
{% if friend.profile.profile_picture %}
<img src="{{ friend.profile.profile_picture.url }}" class="rounded-circle me-3" width="50" height="50">
{% else %}
<img src="{% static 'images_in_website/basketball_icon.png' %}" class="rounded-circle me-3" width="50" height="50" >
{% endif %}
<span>{{ friend.username }}</span>
</div>
{% empty %}
<p>No friends yet.</p>
{% endfor %}
</div>
</div>

<!-- Add Friend -->
<div class="col-md-6">
<form method="POST">
{% csrf_token %}

<div class="mb-3">
<label class="form-label h1">Search Username</label>
<input type="text" class="form-control" name="friend_username" placeholder="Enter username">
</div>
<button type="submit" class="btn btn-warning">
Add Friend
</button>
</form>

<!-- Friend Requests -->
<div class="mt-5">
<h1>Friend Requests</h1>
{% for request in friend_requests %}
<div class="border rounded p-3 mb-3 d-flex justify-content-between align-items-center">
<div class="d-flex align-items-center">
{% if request.from_user.profile.profile_picture %}
<img src="{{ request.from_user.profile.profile_picture.url }}" class="rounded-circle me-3" width="50" height="50" >
{% else %}
<img src="{% static 'images_in_website/basketball_icon.png' %}" class="rounded-circle me-3" width="50" height="50"  >
{% endif %}
<span>{{ request.from_user.username }}</span>
</div>

<form method="POST">
{% csrf_token %}
<button type="submit" name="accept_request" value="{{ request.id }}" class="btn btn-warning me-2"> Accept</button>
<button type="submit" name="decline_request" value="{{ request.id }}" class="btn btn-waning"> Decline </button>
</form>

</div>

{% empty %}
<p>No friend requests.</p>
{% endfor %}
</div>
</div>

</div>
</div>

{% endblock %}