{% extends "base.html" %}
{% load static %}

{% block title %}3Pointers{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <div class="text-center mt-3">
        <p>Welcome {{ user.username }}</p>
        <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    </div>
{% else %}
    <div class="text-center mt-3">
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        <a href="{% url 'signup' %}" class="btn btn-success">Sign Up</a>
    </div>
{% endif %}

<div class="d-flex justify-content-center align-items-center mt-4">
    <h1>Welcome to 3pointers</h1>
</div>

<div class="d-flex justify-content-center align-items-center mt-3">
    <p>
        maybe have a section with the latest game scores and when hover on the games 
        there is a dropdown with the details
    </p>
</div>

{% endblock %}