{% load static %}
<!DOCTYPE html>
<html> 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>3Pointers.com</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href=" {% static 'images_in_website/basketball_icon.png' %} ">
  <!-- my CSS --> 
  <link rel="stylesheet" href=" {% static 'css_file/style.css' %} ">
  <!--import the font--> 
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Graduate&family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  
  <script src="index.js"></script>
<!--import icons -->
<script src="https://kit.fontawesome.com/f7c3808ca6.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
    crossorigin="anonymous"
  >

  <!--Boostrap Javascript-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>  
<!--NavBar-->
<nav class="navbar navbar-expand-lg header_style navbar-dark header1">
  <div class="container-fluid">
    <a class="navbar-brand header1" href="#">3pointers</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

         <li class="nav-item">
          <a class="  nav-link active" href="#">WatchParty</a>
        </li>


        <li class="nav-item">
          <a class="  nav-link active" href="#">Clips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active " href="#">News</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" data-bs-toggle="dropdown">
            My Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li><a class="dropdown-item" href="#">Add Friends</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Upgrade to premium</a></li>

          </ul>
        </li>
      <div class="d-flex justify-content-center align-items-center">
      <i class="fa-regular fa-envelope fa-xl text-white  "></i>
      </div>  
      </ul>

        <form class="d-flex" role="search">
        <input class="form-control me-2  " type="search" placeholder="Search" aria-label="Search"/>
        <button type="button" class="btn btn-outline-light ">Search</button>
      </form>
 
    </div>
  </div>
</nav>

<div class="p-2 d-flex justify-content-center align-items-center gap-2 flex-wrap header1">
  <h1> Most Popular New</h1>
</div>

 <!--Carosel-->
<div class="d-flex justify-content-center p-5" style="background-color: rgb(255, 231, 172);">
  <div id="carouselExampleRide" class="carousel slide w-50" data-bs-ride="true">

    <div class="carousel-inner text-center">
      <div class="carousel-item active">
        <img src=" {% static 'images_in_website/balling_cat.jpg' %} " class="d-block mx-auto img-fluid" alt="thank you balling cat 43">
      </div>
      <div class="carousel-item">
        <img src="  {% static 'images_in_website/i_got_one_more.jpg' %}  " class="d-block mx-auto img-fluid" alt="he wont retire yet">
      </div>

      <div class="carousel-item">
        <img src=" {% static 'images_in_website/one_percent_chance.jpg' %} " class="d-block mx-auto img-fluid" alt="1% chance??">
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>


    
  </div>
</div>

<div class="p-2 d-flex justify-content-center align-items-center gap-2 flex-wrap header1">
  <h1> Other news</h1>
</div>


<!--Other news rows -->
<div class="container text-center header_style ">
  <div class="row">

 
    <div class="col  p-5 fs-3">
    <h2 class="header2"> Rip Teto  </h2> 
    <img src="  {% static 'images_in_website/teto.jpg' %} " class="d-block mx-auto img-fluid" alt="truly tragic">
        <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  


       <div class="col  p-5 fs-3">
      <h2 class="header2"> DoorDash Beef  </h2> 
    <img src=" {% static 'images_in_website/doordarshtrashtalk.jpg' %} " class="d-block mx-auto img-fluid" alt="truly crazy beef">
     <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  
       <div class="col  p-5 fs-3">
      <h2 class="header2"> Champs   </h2> 
    <img src=" {% static 'images_in_website/champs.jpg' %} " class="d-block mx-auto img-fluid" alt="congrats to the team">
       <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  
    
  </div>
</div>

<!--second row idk-->
<div class="container text-center header_style ">
  <div class="row">

 
    <div class="col  p-5 fs-3">
    <h2 class="header2"> Winner dunk  </h2> 
    <img src=" {% static 'images_in_website/coolpicdunk.png' %} " class="d-block mx-auto img-fluid" alt="crazy dunk">
     <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  


       <div class="col  p-5 fs-3">
      <h2 class="header2"> Knees Broken    </h2> 
    <img src=" {% static 'images_in_website/gameplay.jpg' %} " class="d-block mx-auto img-fluid" alt=" gameplay ">
       <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  
       <div class="col  p-5 fs-3">
      <h2 class="header2"> Local ball sitting there   </h2> 
    <img src=" {% static 'images_in_website/ball.png' %} " class="d-block mx-auto img-fluid" alt="just a ball, cool news">
       <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  
    
  </div>
</div>

</body>
</html> 