{% extends "base.html" %}
{% load static %}
 

{% block title %}3Pointers{% endblock %}

{% block content %}

 
<div class="p-2 d-flex justify-content-center align-items-center gap-2 flex-wrap header1">
  <h1> Most Popular New</h1>
</div>

 <!--Carosel-->
<div class="d-flex justify-content-center p-5" style="background-color: rgb(255, 231, 172);">
  <div id="carouselExampleRide" class="carousel slide w-50" data-bs-ride="true">

    <div class="carousel-inner text-center">
      <div class="carousel-item active">
        <img src=" {% static 'images_in_website/balling_cat.jpg' %} " class="d-block mx-auto img-fluid" alt="thank you balling cat 43">
      </div>
      <div class="carousel-item">
        <img src="  {% static 'images_in_website/i_got_one_more.jpg' %}  " class="d-block mx-auto img-fluid" alt="he wont retire yet">
      </div>

      <div class="carousel-item">
        <img src=" {% static 'images_in_website/one_percent_chance.jpg' %} " class="d-block mx-auto img-fluid" alt="1% chance??">
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>


    
  </div>
</div>

<div class="p-2 d-flex justify-content-center align-items-center gap-2 flex-wrap header1">
  <h1> Other news</h1>
</div>


<!--Other news rows -->
<!--add an api that adds to the colums so that this is not hard coded -->
<div class="container text-center header_style ">
  <div class="row">

 
    <div class="col  p-5 fs-3">
    <h2 class="header2"> Rip Teto  </h2> 
    <img src="  {% static 'images_in_website/teto.jpg' %} " class="d-block mx-auto img-fluid" alt="truly tragic">
        <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  


       <div class="col  p-5 fs-3">
      <h2 class="header2"> DoorDash Beef  </h2> 
    <img src=" {% static 'images_in_website/doordarshtrashtalk.jpg' %} " class="d-block mx-auto img-fluid" alt="truly crazy beef">
     <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  
       <div class="col  p-5 fs-3">
      <h2 class="header2"> Champs   </h2> 
    <img src=" {% static 'images_in_website/champs.jpg' %} " class="d-block mx-auto img-fluid" alt="congrats to the team">
       <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  
    
  </div>
</div>

<!--second row idk-->
<div class="container text-center header_style ">
  <div class="row">

 
    <div class="col  p-5 fs-3">
    <h2 class="header2"> Winner dunk  </h2> 
    <img src=" {% static 'images_in_website/coolpicdunk.png' %} " class="d-block mx-auto img-fluid" alt="crazy dunk">
     <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  


       <div class="col  p-5 fs-3">
      <h2 class="header2"> Knees Broken    </h2> 
    <img src=" {% static 'images_in_website/gameplay.jpg' %} " class="d-block mx-auto img-fluid" alt=" gameplay ">
       <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  
       <div class="col  p-5 fs-3">
      <h2 class="header2"> Local ball sitting there   </h2> 
    <img src=" {% static 'images_in_website/ball.png' %} " class="d-block mx-auto img-fluid" alt="just a ball, cool news">
       <p class="fs-6 "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, quo similique provident et quas ut unde dolore dolorem?</p>
     <a class= "fs-6 text-dark" href="#"> learn more</a>
    </div>
  
  
    
  </div>
</div>

 
 
{% endblock %}

 