{% extends "base.html" %}
{% load static %}
 

{% block title %}3Pointers{% endblock %}

{% block content %} 

 <!--Show current game -->


<div class="row">
  <div class="col-8 p-5" style="background-color: aquamarine;">
     <h1> Live Game </h1>
  </div>

<!-- this is where the live chat box would go -->

  <div class="col-4 p-5" style="background-color: rgb(189, 255, 233);">
   <h1> Live Chat </h1>
  </div>
</div>

<!--Join a call-->
<h1> Join a live call </h1>

<!--other live games-->
<h1> Other live games right now</h1> 




 

  
{% endblock %}